header{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
}

header #logo{
    width: 15%;
    height: 80%;
    background-color: #fff;
}

header .links{
    width: inherit;
    background-color: lightgrey;
}

header .links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .networks{
    width: 20%;
    height: inherit;
    background-color: lightskyblue;
}