*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Azonix;
    --red: #E51400;
}

@font-face {
    font-family: Azonix;
    src: url(../fonts/azonix/Azonix.otf);
    font-weight: normal;
    font-style: normal;
}

html{
    height: auto;
}
body{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
    overflow-x: hidden;
}

main{
    width: 100%;
    flex-grow: 2;
    height: max-content;
    display: flex;
    flex-direction: column;
}